/* ------------------ RESET ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------ TAGS ------------------ */
body {
  background-color: #EBEBF2; 
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #733E32;
  overflow-x: hidden;
}

header {
  border: 10px solid #3E8C8C; 
  background-color: #4BA69D;  
  padding: 2vh 0;
  text-align: center;
}

h1 {
  font-size: large;
  color: #733E32; 
  text-align: center;
}

a {
  color: #A66953;                
  background-color: white;        
  border: solid #3E8C8C 2px;      
  border-radius: 12px;           
  padding: 10px 20px;            
  text-decoration: none;          
  display: inline-block;         
  font-weight: bold;              
  cursor: pointer;               
  margin: 0 10px;                 
  transition: all 0.25s ease;     
}

a:hover {
  background-color: #3E8C8C;  
  color: white;               
  transform: scale(1.05);     
}

ul {
  display: block;
  margin: 3vh auto; 
  padding: 0; 
  list-style: none;
  width: fit-content; 
}

ul li {
  border: 2px solid #4BA69D;
  padding: 1vh 2vh; 
  margin-bottom: 1vh; 
  border-radius: 8px;
}

table {
  margin: 5vh auto;
  border-collapse: collapse;
}

footer {
  text-align: center;
  background-color: #3E8C8C; 
  color: #EBEBF2; 
  padding: 1rem;
}

/* ------------------ CLASSES ------------------ */
.assinatura {
  width: 50px;
  border-radius: 50%;
  display: inline-block;     
  vertical-align: middle;     
}

.titulo {
  display: inline-block;      
  vertical-align: middle;     
  margin-left: 10px;           
  color: #733E32; 
}

.imagemhero {
  width: 55%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero-container {
    position: relative; 
    
}

.botãoCTA {
    position: absolute; 
    bottom: 0;       
    left: 0;
    margin: 10px;         
    background-color: #733E32;
    color: #EBEBF2;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botãoCTA:hover {
    background-color: #5b2e24;
    transform: scale(1.05);
}

.botãoCTA:hover {
  background-color: #5b2e24;  
  transform: scale(1.05);     
}

.causo {
  margin: 5vh auto 2vh auto;
  text-align: center;
}

.imgcauso {
  width: 400px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 2vh 2%;
}

.textocauso {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  margin: 2vh 2%;
  text-align: justify;
  font-size: large;
  color: #733E32;
}

.curiosidades {
  margin: 2vh auto;
}

.sobre_mim{
  margin: 2vh auto;
  text-align: justify;
  width: 70%;
}

.minhahistória {
  font-size: larger;
  margin: 2vh auto;
  text-align: justify;
  width: 80%;
}

.portifólio {
    margin-top: 5vh; 
    text-align: center;
}

.rotina {
  margin: 5vh auto;
  text-align: center;
}

.cards-container {
  text-align: center; 
}

.card {
  display: inline-block; 
  margin: 1%;          
  width: 200px;          
  vertical-align: top; 
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  color: #733E32;
  margin: 5px 0;
}

.card p {
  font-size: 20px;
  color: #555;
}
